<!-- footer-four -->
<footer class="footer-four p_relative">
    <div class="pattern-layer">
        <div class="pattern-1 p_absolute l_120 b_0 h_170" data-parallax='{"x": 100}'
             style="background-image: url(assets/images/shape/shape-73.png);"></div>
        <div class="pattern-2 p_absolute r_0 t_0" data-parallax='{"x": 100}'
             style="background-image: url(assets/images/shape/shape-74.png);"></div>
    </div>
    <div class="auto-container">
        <div class="footer-widget-section">
            <div class="row clearfix justify-content-center">
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget wow fadeInUp animated" data-wow-delay="400ms"
                         data-wow-duration="1500ms">
                        <div class="widget-title">
                            <h4>Site Map</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="{{ site_url('/') }}">Home</a></li>
                                <li><a href="{{ site_url('/#about') }}">About</a></li>
                                <li><a href="{{ site_url('/contact') }}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget wow fadeInUp animated" data-wow-delay="600ms"
                         data-wow-duration="1500ms">
                        <div class="widget-title">
                            <h4>Contacts</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="info-list clearfix">
                                <li>{{config('APP_ADDRESS')}}</li>
                                <li><a href="tel:{{config('APP_PHONE')}}">{{config('APP_PHONE')}}</a></li>
                                <li><a href="mailto:{{config('APP_EMAIL')}}">{{config('APP_EMAIL')}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="bottom-inner">
                <div class="copyright centred">
                    <p><a href="<?php echo site_url('/'); ?>">{{config('APP_NAME')}}</a> &copy; {{ now | date("Y") }} > All Right
                        Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-four end -->
