{% extends "layouts/master.twig" %}

{% block title %} Contact Us {% endblock %}

{% block content %}
    <section class="page-title style-two p_relative centred" style="padding-top: 200px;padding-bottom: 100px;">
        <div class="pattern-layer">
            <div class="shape-1 p_absolute l_120 t_60 rotate-me"
                 style="background-image: url('assets/images/shape/shape-116.png');"></div>
            <div class="shape-2 p_absolute t_120 r_170 float-bob-y"
                 style="background-image: url('assets/images/shape/shape-56.png');"></div>
        </div>
        <div class="auto-container">
            <div class="content-box">
                <h1 class="d_block fs_60 lh_70 fw_bold mb_10">Contact Us</h1>
                <ul class="bread-crumb p_relative d_block mb_8 clearfix">
                    <li class="p_relative d_iblock fs_16 lh_25 fw_sbold font_family_inte mr_20"><a
                                href="<?php echo site_url('/'); ?>">Home</a></li>
                    <li class="current p_relative d_iblock fs_16 lh_25 fw_sbold font_family_inte">Contact Us 5</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contact-seven p_relative pb_150">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 info-column">
                    <div class="info-inner">
                        <div class="sec-title p_relative d_block mb_30">
                            <h3 class="d_block fs_30 lh_40 fw_bold mb_25">Get In Touch</h3>
                            <p class="font_family_poppins color_black">Give us a call or drop by anytime, we answer all
                                enquiries within 24 hours.</p>
                        </div>
                        <ul class="info-list clearfix">
                            <li class="p_relative d_block pl_45 mb_20">
                                <div class="icon-box p_absolute l_0 t_2 d_iblock fs_30 z_1 tran_5">
                                    <div class="icon p_relative d_iblock"><i class="icon-180"></i></div>
                                    <div class="icon-img hidden-icon"><img src="assets/images/icons/hid-icon-133.png"
                                                                           alt=""></div>
                                </div>
                                <p class="font_family_inter color_black">{{ config('APP_ADDRESS') }}</p>
                            </li>
                            <li class="p_relative d_block pl_45 mb_20">
                                <div class="icon-box p_absolute l_0 t_0 d_iblock fs_30 z_1 tran_5">
                                    <div class="icon p_relative d_iblock"><i class="icon-181"></i></div>
                                    <div class="icon-img hidden-icon"><img src="assets/images/icons/hid-icon-134.png"
                                                                           alt=""></div>
                                </div>
                                <p class="font_family_inter color_black"><a
                                            href="mailto:{{ config('APP_EMAIL') }}">{{ config('APP_EMAIL') }}</a>
                                </p>
                            </li>
                            <li class="p_relative d_block pl_45">
                                <div class="icon-box p_absolute l_0 t_0 d_iblock fs_30 z_1 tran_5">
                                    <div class="icon p_relative d_iblock"><i class="icon-182"></i></div>
                                    <div class="icon-img hidden-icon"><img src="assets/images/icons/hid-icon-135.png"
                                                                           alt=""></div>
                                </div>
                                <p class="font_family_inter color_black"><a
                                            href="tel:{{ config('APP_PHONE') }}">{{ config('APP_PHONE') }}</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 form-column">
                    <div class="form-inner p_relative ml_40">
                        {% include('partials/form.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- google-map-section -->
    <section class="google-map-section">
        <div class="map-inner">
            <div
                    class="google-map p_relative d_block"
                    id="contact-google-map"
                    data-map-lat="40.712776"
                    data-map-lng="-74.005974"
                    data-icon-path="http://azim.commonsupport.com/Atrix/assets/images/icons/map-marker-2.png"
                    data-map-title="Brooklyn, New York, United Kingdom"
                    data-map-zoom="12"
                    data-markers='{
                        "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 New York</p>","assets/images/icons/map-marker.png"]
                    }'>

            </div>
        </div>
    </section>
    <!-- google-map-section end -->
{% endblock %}

{% block js %}
    <!-- map script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
    <script src="/assets/js/gmaps.js"></script>
    <script src="/assets/js/map-helper.js"></script>

    {#    {{ config("GET") | json_encode }}#}

    {% if(config['GET.issuccess'] == 'yes') %}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire(
                'Successful',
                'Our Claims Agent will contact you within 24hrs through SMS to enable fast communication. Please Be on standby. ',
                'success'
            )
        </script>

        <style>
            .swal2-select {
                display: none;
            }
        </style>
    {% endif %}

    {#    <script> #}
    {#        (function ($) { #}
    {#            $(document).ready(function () { #}
    {#                $('#contact-form').submit(function (e) { #}
    {#                    e.preventDefault(); #}

    {#                    // if ($(this).valid()) { #}
    {#                    //     const url = $(this).attr('action'); #}
    {#                    //     const content = $(this).serialize(); #}
    {#                    // #}
    {#                    //     $.post("/process.php", content) #}
    {#                    //         .done(function (data) { #}
    {#                    //             Swal("Message Sent Successfully"); #}
    {#                    //         }) #}
    {#                    // } #}
    {#                }) #}
    {#            }) #}
    {#        })(jQuery); #}
    {#    </script> #}
{% endblock %}
